    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #0f0f1a;
        color: #fff;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        max-width: 1200px;
        margin: auto;
    }

    .left {
        max-width: 65%;
    }

    .left h3 {
        font-size: 14px;
        color: #9ca3af;
        margin-bottom: 10px;
    }

    .left h1 {
        font-size: 32px;
        font-weight: bold;
        margin: 10px 0;
    }

    .left p {
        font-size: 18px;
        margin-bottom: 15px;
        color: #d1d5db;
    }

    .creator {
        margin: 10px 0;
        font-size: 15px;
    }

    .creator a {
        color: #58a6ff;
        text-decoration: none;
        font-weight: bold;
    }

    .meta {
        font-size: 14px;
        color: #9ca3af;
        margin: 15px 0;
    }

    .course-info {
        background: #1f2937;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        margin-top: 20px;
    }

    .course-info div {
        text-align: center;
        flex: 1;
    }

    .course-info .rating {
        font-size: 22px;
        font-weight: bold;
        color: #fbbf24;
    }

    .course-info .learners {
        font-size: 16px;
        font-weight: bold;
    }

    /* Right side */
    .right {
        width: 30%;
        background: #fff;
        border-radius: 8px;
        color: #000;
        padding: 15px;
        text-align: center;
    }

    .right img {
        width: 100%;
        border-radius: 5px;
    }

    .tabs {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    .tabs div {
        flex: 1;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .tabs .active {
        border-bottom: 2px solid #6d28d9;
        color: #6d28d9;
    }

    .premium {
        background: #c0a7e1;
        color: #1f2937;
        padding: 10px;
        border-radius: 6px;
        font-size: 14px;
        margin: 10px 0;
    }

    .right button {
        background: #6d28d9;
        color: #fff;
        border: none;
        padding: 12px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        border-radius: 6px;
        cursor: pointer;
    }

    .right button:hover {
        background: #4c1d95;
    }
    .course-video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }