* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbar {
    display: flex;
    height: 100vh;
    width: 50px;
    flex-direction: column;
    position: absolute;
    left: 0;
    justify-content: space-around;
    background-color: black;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px gray;
    z-index: 5;
}

.navbar:hover {
    width: 255px;
    transition: ease-in-out 0.5s;
}

/* .navbar .nav-item {
    display: flex;
} */
.nav-item-logo img {
    padding-left: 10px;
    width: 240px;
}

.nav-item a {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    padding: 10px 10px 10px 6px;
    text-decoration: none;
}

.navbar .nav-item span {
    padding-left: 20px;
    color: white;
    padding-right: 20px;
}

.nav-item:hover {
    background-color: rgba(111, 107, 115, 1);
}

.side-nav {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: transparent;
    justify-content: right;
    align-items: center;
    padding: 10px;
}

.side-nav-item {
    font-size: 20px;
    margin-right: 20px;
    padding: 10px;
}

.side-nav-item:hover {
    background-color: rgb(224, 210, 237);
}

.side-nav-item a {
    text-decoration: none;
    color: black;
}

.user-info {
    display: none;
    position: absolute;
    top: 60px;
    right: 30px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.userIcon {
    background: none;
    border: none;
    cursor: pointer;
}

.user-info {
    display: none;
    width: 300px;
    transition: 0.5s ease-in-out;
}

.user-info h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
}

.user-info p {
    padding: 5px;
    color: #A435F0;
}

.userInfoSec {
    display: flex;
    flex-direction: column;
}

.userInfoSec .cartInfo {
    padding: 10px;
}

.cartInfo a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.cartInfo:hover {
    transform: scale(1.02);
    border-bottom: 2px solid #A435F0;
    background-color: rgb(224, 210, 237);
}

.userInfoSec a:hover {
    color: #A435F0;
}

.userIcon {
    background: none;
    border: none;
    cursor: pointer;
}

.side-nav-item:hover .user-info {
    display: block;
    width: 300px;
    transition: 0.5s ease-in-out;
}
aside{
    display: flex;
    width: 90%;
    flex-direction: column;
}
.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    left: 150px;
    top: 60px;
}

.content-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
    border-bottom: 2px solid rgb(114, 105, 105);
}
.create-box {
    display: flex;
    position: relative;
    top: 40px;
    flex-direction: row;
    width: 90%;
    height: 100px;
    margin-right: 50px;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    box-shadow: 2px 2px 2px 2px gray;
    background-color: rgb(197, 207, 207);
}
.create-cource-btn button{
    background-color: #4e2fca;
    border: none;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.create-cource-btn button a {
    text-decoration: none;
    color: white;
}
.welcome-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    position: relative;
    top: 20px;
}