.user-dropdown {
    position: relative;
    display: inline-block;
}

.user-dropdown .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.user-dropdown .dropdown-content p {
    margin: 0 0 10px;
    font-weight: bold;
}

.user-dropdown .dropdown-content a {
    display: block;
    padding: 6px;
    text-decoration: none;
    color: black;
}

.user-dropdown .dropdown-content a:hover {
    background-color: #f2f2f2;
    color: blueviolet;
}
