* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
    background-color: white;
    height: 70px;
    width: 100%;
}

.nevbar-logo {
    display: flex;
    padding: 0 20px 0 20px;
}

.nevbar-logo img {
    width: 100px;
    height: 100%;
}

.explore {
    display: flex;
    color: black;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    transition: color 0.3s ease;
}

.explore:hover {
    color: #A435F0;
    background-color: rgb(224, 210, 237);
}

.search-bar input:focus {
    outline: none;
    border-color: #A435F0;
    box-shadow: 0 0 5px rgba(164, 53, 240, 0.5);
}

.search-bar {
    display: flex;
    padding: 10px;
}

.search-bar input {
    width: 600px;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;

}

/* .nav-links a {
     color: black;
     text-decoration: none;
     transition: color 0.3s ease;
     padding: 5px;
     border-radius: 5px;
 }

 .nav-links a:hover {
     color: #A435F0;
     background-color: #f7f7f7;
 }

 .auth-buttons {
     display: flex;
     gap: 10px;
     margin-left: 20px;

 }

 .login-btn,
 .signup-btn {
     border: 1px solid #000;
     padding: 6px 15px;
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer;
     transition: background-color 0.3s ease, color 0.3s ease;
 }

 .login-btn {
     border-color: #A435F0;
     color: #A435F0;
 }

 .login-btn:hover {
     background-color: #f2f2f2;
 }

 .signup-btn {
     background-color: #A435F0;
     color: white;
     border: none;
 }

 .signup-btn:hover {
     background-color: #9229d3;
 }

 .icon-btn {
     margin-left: 10px;
     cursor: pointer;
     font-size: 18px;
     padding: 5px;
     border-radius: 50%;
     transition: background-color 0.3s ease;
 }

 .icon-btn:hover {
     background-color: #f2f2f2;
 } */


.nevbar-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

.nevbar-elements li {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 10px;
    height: 100%;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.nevbar-elements li:hover {
    color: blueviolet;
    background-color: rgb(224, 210, 237);
}

.nevbar-elements li button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    padding: 8px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    border: 1px solid blueviolet;
    align-items: center;
    cursor: pointer;
}

.nevbar-elements button a {
    color: blueviolet;
    text-decoration: none;
}

.elements-text a {
    color: #333;
    text-decoration: none;

}

.elements-text a:hover {
    color: blueviolet;
    background-color: rgb(224, 210, 237);
}

.subnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 18px;
    font-size: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    box-shadow: 2px 2px 2px 2px gray;
}

.subnav a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    transition: color 0.3s ease;
}

.subnav a:hover {
    color: #A435F0;
    font-weight: 500;
}

.subnav a.active {
    font-weight: bold;
    color: rgb(12, 2, 2);
}

.subnav a.mag-left {
    margin-left: 145px;
    font-size: bold;
}

/* .user-info {
  display: flex;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  position: absolute;
  top: 70px;
  right: 10px;
  border-radius: 8px;

}

.userIcon:hover .user-info {
  display: block;
} */
.user-info {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

li {
    position: relative;
}

.userIcon {
    background: none;
    border: none;
    cursor: pointer;
}

li:hover .user-info {
    display: block;
    width: 300px;
    transition: 0.5s ease-in-out;
}

.user-info h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
}

.user-info p {
    padding: 5px;
    color: #A435F0;
}

.userInfoSec {
    display: flex;
    flex-direction: column;
}

.userInfoSec .cartInfo {
    padding: 10px;
}

.cartInfo a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.cartInfo:hover {
    transform: scale(1.02);
    border-bottom: 2px solid #A435F0;
    background-color: rgb(224, 210, 237);
}

.userInfoSec a:hover {
    color: #A435F0;
}

.container {
    width: 95%;
    margin-left: 48px;
}

h1 {
    font-size: 2.2em;
    margin-top: 20px;
}

h2 {
    font-size: 1.4em;
    margin-top: 10px;
    color: #333;
}

p {
    color: #555;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-top: 20px;
}

.tab {
    margin-right: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid black;
}

.courses {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 380px;
    gap: 25px;
    margin-top: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.course-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    height: 95%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    box-shadow: 2px 2px 2px 2px gray;
}

.course-card:hover {
    transform: scale(1.04);
}

.course-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.course-content {
    padding: 10px;
}

.course-title {
    font-weight: bold;
    font-size: 1em;
}

.course-author {
    font-size: 0.9em;
    color: gray;
}

.rating {
    color: #e59819;
    font-size: 0.9em;
}

.price {
    font-weight: bold;
    margin-top: 5px;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
    font-weight: normal;
}

.tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background: purple;
    color: white;
    font-size: 0.8em;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
}

.bestseller {
    background: green;
}

.addCart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.addCart button {
    width: 200px;
    height: 35px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    background-color: #6d28d2;
}

.addCart button a {
    text-decoration: none;
    color: white;
}

.addCart button:hover {
    transform: scale(1.07);
}


.top-features {
    display: flex;
    justify-content: space-around;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}


.top-features div {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 250px;
}

.featured-section {
    padding: 20px;
}

.featured-section h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.featured-section p {
    margin-bottom: 15px;
}

.top-course-card {
    display: flex;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    align-items: center;
}

.top-course-card img {
    width: 550px;
    height: auto;
    border-radius: 5px;
}

.top-course-card img:hover {
    transform: scale(1.01);
}


.course-info h3 {
    font-size: 25px;
    color: black;
    font-weight: bolder;
    margin: 0 0 10px;
}

.course-info p {
    margin: 0 0 10px;
}

.top-rating {
    color: #e0a911;
    font-weight: bold;
}

.badge {
    background-color: #ff5a5f;
    color: white;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 4px;
    margin-left: 5px;
}

.top-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: black;
}

.popular-topics {
    margin: 25px;

}

.popular-topics h2 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
}


.topics-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 1295px;
}

.topic-box {
    border: 1px solid #ddd;
    padding: 0 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #222;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.topic-box a {
    text-decoration: none;
    color: #333;
}

.topic-box:hover {
    background-color: #f5f5f5;
    border-color: #ccc;
}

.dropdown {
    position: absolute;
    top: 60px;
    width: 50%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
    box-shadow: 2px 2px 2px 2px gray;
}

.dropdown div {
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
}

.dropdown div:hover {
    background: #f1f1f1;
}

.all-controls select {
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.search-container {
    position: relative;
}

.search-dropdown {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
}

.search-dropdown div {
    padding: 10px;
    cursor: pointer;
}

.search-dropdown div:hover {
    background: #f0f0f0;
}